allow system_server timekeep_data_file:dir r_dir_perms;

get_prop(system_server, adbsecure_prop)

allow system_server memsic_device:chr_file create_file_perms;

